<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="SqlDbConnStr" connectionString="Data Source=.;Initial Catalog=MOHWFGBCE;Persist Security Info=True;User ID=sa;Password=sqlsa" providerName="System.Data.SqlClient" />
    <!--<add name="SqlDbConnStrFC" connectionString="Data Source=.;Initial Catalog=HPAGFC;Persist Security Info=True;User ID=sa;Password=sqlsa" providerName="System.Data.SqlClient" />-->
    <!--<add name="HPAGBCEntities" connectionString="metadata=res://*/HPAGBCModel.csdl|res://*/HPAGBCModel.ssdl|res://*/HPAGBCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HPAGBC;persist security info=True;user id=sa;password=sqlsa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrlEntities" connectionString="metadata=res://*/HPAGBCModel.csdl|res://*/HPAGBCModel.ssdl|res://*/HPAGBCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HPAGBC;persist security info=True;user id=sa;password=sqlsa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrlSqlDbConnStr" connectionString="Data Source=.;Initial Catalog=HPAGBC;Persist Security Info=True;User ID=sa;Password=sqlsa" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--頁面抬頭設定-->
    <!--啟動 SQL.txt 歷程記錄(begin)-->
    <add key="SQLLogFile" value="~/SQL.txt"/>
    <add key="SQLTxtFile" value="~/SQL.txt"/>
  </appSettings>

</configuration>
