<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <add key="SqlDbConnStr1" value="server=203.65.72.114; user id='sa'; password='acc0824'; database='GBA5705'; Connect Timeout='60'" />
  <add key="GBATxtPath" value="C:\GBAText\" />
  <add key="GBATxtPathIn" value="C:\gba\COMM\" />
 </appSettings>
</configuration>