.uploadifyQueueItem
{
	background-color: #FFFFFF;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	border-bottom:0;
	font: 11px Verdana, Geneva, sans-serif;
	height:50px;
	height:30px;
	margin-top: 0;
	padding: 10px;
	width: 350px;
}
.uploadifyError
{
	background-color: #FDE5DD !important;
	border: none !important;
	border-bottom: 1px solid #FBCBBC !important;
	height:auto;
}
.uploadifyQueueItem .cancel
{
	float: right;
}
.uploadifyQueueItem .uploadifyQueue .completed
{
	color: #C5C5C5;
}
.uploadifyQueueItem .uploadifyProgress
{
	background-color: #E5E5E5;
	margin-top: 10px;
	margin-top: 4px;
	width: 100%;
}
/*progress bar*/
.uploadifyQueueItem .uploadifyProgressBar
{
	background-color: #0099FF;
	height: 10px;
	width: 1px;
	
}
.uploadifyQueueItem .queuelist
{
	border: 1px solid #E5E5E5;
	border:0;
	height: 213px;
	height:auto;
	margin-bottom: 10px;
	margin:0;
	width: 370px;
	width:auto;
}
###ID## img.attach
{
    cursor:pointer;   
}
/*uploaded*/
.uploaded
{
	
}
.uploaded .uploadedItem
{
	background-color: #FFFFFF;
	background-color:transparent;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	border-bottom:0;
	font: 11px Verdana, Geneva, sans-serif;
	height:50px;
	height:16px;
	margin-bottom: 2px;
	padding:0;
	width: 350px;
	width:auto;
}
.uploaded .uploadedItem .fileName a
{
    color:Blue;
    text-decoration:underline;
}
.uploaded .uploadedItem .fileName a.R
{
    color:Blue;
}
.uploaded .uploadedItem .fileName a.T
{
    color:Green;
}
.uploaded .uploadedItem .fileName a.trash
{
    color:red;
}
.uploaded .uploadedItem .cancel
{
	float: left;
	margin:0 10px 0 0;
}
.uploaded .uploadedItem .cancel a
{
	
}
/*trash*/
.trash
{
	margin:10px 0 0 0;
}
.trash .title
{
	font-size:10pt;
}
.trash .title a
{
	text-decoration:underline;
}
.trash .uploadedItem
{
	background-color: #FFFFFF;
	background-color:transparent;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	border-bottom:0;
	font: 11px Verdana, Geneva, sans-serif;
	height:50px;
	height:16px;
	margin-bottom: 2px;
	padding:0;
	width: 350px;
	width:auto;
}
.trash .uploadedItem .fileName a
{
    color:Blue;
    text-decoration:underline;
}
.trash .uploadedItem .fileName a.trash
{
    color:gray;
}
.trash .uploadedItem .fileName a.restore
{
	color:gray;
}
.trash .uploadedItem .cancel
{
	float: left;
	margin:0 10px 0 0;
}
.trash .uploadedItem .cancel a
{
	
}