<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!--   將使用者應用程式與組態過的屬性設定放置此處。-->
    <!--範例: <add key="settingName" value="settingValue"/>-->
    <add key="SqlDbConnStr1" value="server=localhost\sql2008; user id='sa'; password='sqlsa'; database='GBA5705'; Connect Timeout='60'"/>
    <add key="GBATxtPath" value="C:\gba\COMM\"/>
    <add key="GBATxtPathIn" value="C:\gba\COMM\"/>
  </appSettings>
 
</configuration>