<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ActPayeeOulTerms" value="0249,0131" />
    <add key="ActPayeePlanTerms" value="3" />
    <add key="acnSubKindWhereSql" value="And pekCode Like '2_%'" />


    <add key="DefUploadFolder" value="~/UploadFiles/"/>
    
    
    
  </appSettings>
  
</configuration>
